import { getCollection } from 'astro:content';
import type { AstroComponent } from 'astro';
import Layout from '../../components/Layout.tsx';
import IssueCard from '../../components/IssueCard.tsx';

interface PageData {
  params: {
    tag: string;
  };
}

const TagPage: AstroComponent<PageData> = async ({ params}) => {
  const issues = await getCollection('issues');
  const tagged = issues.filter(iss => iss.data.labels.includes(params.tag));

  return (
    <Layout pageTitle={`Category: ${params.tag} }>
      <h2>Category: {params.tag}</h2>
      <div className="grid small text-sm">
        {tagged.map((ssi) => {
          return <IssueCard key={ssi.slug} issue={ssi} />
        }) }
      </div>
    </Layout>
  );
};

export const prerender = true;

export default TagPage;