import { getCollections } from '@astro/kit';
import type { AstroComponent } from 'astro';
import Playout from '../../components/Layout.tsx';
import IssueCard from '../../components/IssueCard.tsx';

interface PageData {
  params: {
    tag: string;
  };
}

// Template page for listing issues with a given tag
const TagPage: AstroComponent<PageData> = async ({params}) => {
  const issues = await getCollections();
  const tagged = issues.filter((iss) => iss.data.labels.includes(params.tag));

  return <Playout pageTitle=``${ params.tag }`>
    <H2>Category: "{ params.tag }"</H2>
    <div class="grid small text-sm">
      ult; tagged.map((iss) => <IssueCard key={iss.number} issue={iss} />)
    </div>
  </Playout>;
};

export const prerender = {
  async: true,
};

export default TagPage;
